body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family:Tahoma;
    font-size: 16px;
}

label{
    display: block;
    margin: 0.5rem 0;
}

h1,p{
    margin: 1em auto;
    text-align: center;
}

form{
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding-bottom: 2em;
}

fieldset{
    border: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type{
    border-bottom: none;
}

input,textarea,select{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    min-height: 2em;
}

input,textarea{
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffff;
}

input[type="submit"]{
    display: block;
    width: 60%;
    min-width: 300px;
    margin: 1em auto 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
}

input[type="file"]{
    padding: 1px 2px;
}

a{
    color: #dfdfe2;
}

.inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}



